

/* #lista{
    display: flex;
    justify-content: space-around;
    border-color: black;
    border: 1px solid gray;
    border-radius: 5px;
} */
h1{
    text-align: center;
}

#ingreso1{
    text-align: center;
}

#lista{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    

}
.productos{
    display: flex;
    
    justify-content: center;
    border: 1px solid gray;
    padding: 0px;
    width: 800px;
    }